code[class*="language-"],
pre[class*="language-"] {
	background-color: #e6e9ef;
	color: #4c4f69;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #bcc0cc;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #d20f39;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #bcc0cc;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #df8e1d;
}

.token.entity,
.token.number,
.token.symbol {
	color: #8839ef;
}

.token.property,
.token.constant,
.token.variable {
	color: #d20f39;
}

.token.string,
.token.char {
	color: #40a02b;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #bcc0cc;
}

.token.url {
	color: #40a02b;
	text-decoration: underline;
}

.token.function {
	color: #df8e1d;
}

.token.regex {
	background: #40a02b;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #bcc0cc;
}

.token.deleted {
	background: #d20f39;
}
