code[class*="language-"],
pre[class*="language-"] {
	background-color: #2a273f;
	color: #e0def4;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #6e6a86;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #eb6f92;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #6e6a86;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #ea9a97;
}

.token.entity,
.token.number,
.token.symbol {
	color: #f6c177;
}

.token.property,
.token.constant,
.token.variable {
	color: #eb6f92;
}

.token.string,
.token.char {
	color: #3e8fb0;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #6e6a86;
}

.token.url {
	color: #3e8fb0;
	text-decoration: underline;
}

.token.function {
	color: #ea9a97;
}

.token.regex {
	background: #3e8fb0;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #6e6a86;
}

.token.deleted {
	background: #eb6f92;
}
