code[class*="language-"],
pre[class*="language-"] {
	background-color: #252c2d;
	color: #c7c7a5;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #555e5f;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #ff4658;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #555e5f;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #fdb11f;
}

.token.entity,
.token.number,
.token.symbol {
	color: #9bc0c8;
}

.token.property,
.token.constant,
.token.variable {
	color: #ff4658;
}

.token.string,
.token.char {
	color: #499180;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #555e5f;
}

.token.url {
	color: #499180;
	text-decoration: underline;
}

.token.function {
	color: #fdb11f;
}

.token.regex {
	background: #499180;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #555e5f;
}

.token.deleted {
	background: #ff4658;
}
