code[class*="language-"],
pre[class*="language-"] {
	background-color: #343d46;
	color: #c0c5ce;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #65737e;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #bf616a;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #65737e;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #ebcb8b;
}

.token.entity,
.token.number,
.token.symbol {
	color: #b48ead;
}

.token.property,
.token.constant,
.token.variable {
	color: #bf616a;
}

.token.string,
.token.char {
	color: #a3be8c;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #65737e;
}

.token.url {
	color: #a3be8c;
	text-decoration: underline;
}

.token.function {
	color: #ebcb8b;
}

.token.regex {
	background: #a3be8c;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #65737e;
}

.token.deleted {
	background: #bf616a;
}
