code[class*="language-"],
pre[class*="language-"] {
	background-color: #1b181b;
	color: #f5f5f5;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #383338;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #ffa600;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #383338;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #20df6c;
}

.token.entity,
.token.number,
.token.symbol {
	color: #007fff;
}

.token.property,
.token.constant,
.token.variable {
	color: #ffa600;
}

.token.string,
.token.char {
	color: #ff0066;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #383338;
}

.token.url {
	color: #ff0066;
	text-decoration: underline;
}

.token.function {
	color: #20df6c;
}

.token.regex {
	background: #ff0066;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #383338;
}

.token.deleted {
	background: #ffa600;
}
