code[class*="language-"],
pre[class*="language-"] {
	background-color: #202020;
	color: #d0d0d0;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #505050;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #ac4142;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #505050;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #f4bf75;
}

.token.entity,
.token.number,
.token.symbol {
	color: #aa759f;
}

.token.property,
.token.constant,
.token.variable {
	color: #ac4142;
}

.token.string,
.token.char {
	color: #90a959;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #505050;
}

.token.url {
	color: #90a959;
	text-decoration: underline;
}

.token.function {
	color: #f4bf75;
}

.token.regex {
	background: #90a959;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #505050;
}

.token.deleted {
	background: #ac4142;
}
