code[class*="language-"],
pre[class*="language-"] {
	background-color: #26232a;
	color: #8b8792;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #655f6d;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #be4678;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #655f6d;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #a06e3b;
}

.token.entity,
.token.number,
.token.symbol {
	color: #955ae7;
}

.token.property,
.token.constant,
.token.variable {
	color: #be4678;
}

.token.string,
.token.char {
	color: #2a9292;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #655f6d;
}

.token.url {
	color: #2a9292;
	text-decoration: underline;
}

.token.function {
	color: #a06e3b;
}

.token.regex {
	background: #2a9292;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #655f6d;
}

.token.deleted {
	background: #be4678;
}
