code[class*="language-"],
pre[class*="language-"] {
	background-color: #121212;
	color: #c1c1c1;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #333333;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #5f8787;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #333333;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #eecc6c;
}

.token.entity,
.token.number,
.token.symbol {
	color: #999999;
}

.token.property,
.token.constant,
.token.variable {
	color: #5f8787;
}

.token.string,
.token.char {
	color: #f3ecd4;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #333333;
}

.token.url {
	color: #f3ecd4;
	text-decoration: underline;
}

.token.function {
	color: #eecc6c;
}

.token.regex {
	background: #f3ecd4;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #333333;
}

.token.deleted {
	background: #5f8787;
}
