code[class*="language-"],
pre[class*="language-"] {
	background-color: #2a2a2a;
	color: #c0c0c0;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #808080;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #ff0000;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #808080;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #ffff00;
}

.token.entity,
.token.number,
.token.symbol {
	color: #ff00ff;
}

.token.property,
.token.constant,
.token.variable {
	color: #ff0000;
}

.token.string,
.token.char {
	color: #00ff00;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #808080;
}

.token.url {
	color: #00ff00;
	text-decoration: underline;
}

.token.function {
	color: #ffff00;
}

.token.regex {
	background: #00ff00;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #808080;
}

.token.deleted {
	background: #ff0000;
}
