code[class*="language-"],
pre[class*="language-"] {
	background-color: #34495e;
	color: #e0e0e0;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #95a5a6;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #e74c3c;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #95a5a6;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #f1c40f;
}

.token.entity,
.token.number,
.token.symbol {
	color: #9b59b6;
}

.token.property,
.token.constant,
.token.variable {
	color: #e74c3c;
}

.token.string,
.token.char {
	color: #2ecc71;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #95a5a6;
}

.token.url {
	color: #2ecc71;
	text-decoration: underline;
}

.token.function {
	color: #f1c40f;
}

.token.regex {
	background: #2ecc71;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #95a5a6;
}

.token.deleted {
	background: #e74c3c;
}
