code[class*="language-"],
pre[class*="language-"] {
	background-color: #{{base01-hex}};
	color: #{{base05-hex}};
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #{{base03-hex}};
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #{{base08-hex}};
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #{{base03-hex}};
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #{{base0A-hex}};
}

.token.entity,
.token.number,
.token.symbol {
	color: #{{base0E-hex}};
}

.token.property,
.token.constant,
.token.variable {
	color: #{{base08-hex}};
}

.token.string,
.token.char {
	color: #{{base0B-hex}};
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #{{base03-hex}};
}

.token.url {
	color: #{{base0B-hex}};
	text-decoration: underline;
}

.token.function {
	color: #{{base0A-hex}};
}

.token.regex {
	background: #{{base0B-hex}};
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #{{base03-hex}};
}

.token.deleted {
	background: #{{base08-hex}};
}
